<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/ og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>Manpages Guide</title>
        <link rel="canonical" href="http://{{cname}}/">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{{content}}}
    </body>
</html>
