<main>
    <h2>Lists</h2>
    <p>Making lists and stuff with <code>Bl</code>, <code>It</code> and <code>El</code>.</p>


    <h3>Elements</h3>
    <dl>
        <dt><code>Bl</code></dt>
        <dd>Begin a list</dd>

        <dt><code>It</code></dt>
        <dd>A list item.</dd>

        <dt><code>El</code></dt>
        <dd>End a list</dd>
    </dl>

    <h3>Example Markup</h3>
    <h4>mdoc</h4>
<pre><code>
.Bl -enum
.It One
.It Two
.It Three
.El
</code></pre>

    <h4>Output</h4>
    <samp>
        <ol>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ol>
    </samp>
</main>